{#{% extends '@App/layout.html.twig' %}#}
{#{% block title %}Confirmation ordonance{% endblock %}#}

{#{% block body %}#}

    {#<h2 class="message-confirm"></h2>#}
    {#<table class="table table-bordered table-striped table-condensed">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>Médicament</th>#}
            {#<th>Quantité</th>#}
            {#<th>Prix</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for prescriptionMedication in prescriptionMedication %}#}
            {#<tr>#}
                {#<td>#}
                    {#{{ prescriptionMedication.medication.name }}  </td>#}
                {#<td>#}
                    {#{{ prescriptionMedication.quantity }}#}
                {#</td>#}
                {#<td style="width: 400px">#}
                    {#<div class="current-price">#}
                    {#{% if  prescriptionMedication.price  is defined and  prescriptionMedication.price is not null %}#}
                        {#{{ prescriptionMedication.price }} DT#}
                    {#{% endif %}#}
                    {#</div>#}
                    {#{% if prescriptionMedication.prescription.status == "Non confirmé" %}#}
                        {#<div class="update-price">#}
                            {#<h4 >modifier</h4>#}
                            {#<div class="form-group">#}
                                {#<input type="text" class="form-control price" id="email" placeholder="Enter le prix" name="price">#}
                                {#<input type="hidden" value="{{ prescriptionMedication.id }}" class="id">#}
                                {#<input type="button" value="Envoyer" class="send-price btn-sm btn btn-info">#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endif %}#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
    {#{% for prescriptionMedication in prescriptionMedication %}#}
        {#{% if prescriptionMedication.prescription.status == "Non confirmé" %}#}
        {#{% if loop.first %}#}
            {#<input type="hidden" value="{{ prescriptionMedication.prescription.id }}" class="id-prescription">#}
            {#<p class="text-right button-confirmation"><button type="button" style="margin-right:90px" class="btn btn-success btn-lg confirmation-prescription">Confirmé</button></p>#}
        {#{% endif %}#}


       {#{% endif %}#}
    {#{% endfor %}#}
{#{% endblock %}#}
{#{% block js %}#}
    {#<script type="text/javascript">#}
        {#$(document).ready(function ()#}
        {#{#}
            {#for (var i=0;i<$('.price').length;i++) {#}
                {#$(".send-price").eq(i).click(function(){#}
                    {#x = $(this);#}
                    {#$.ajax({#}
                        {#type:"GET",#}
                        {#url:Routing.generate('set_price_priscription_medication_pharmacy', {id:$(this).prev().val(),price:$(this).prev().prev().val() }),#}
                        {#async: true,#}
                        {#success:function (data) {#}
                            {#//console.log(x.parent())#}
                            {#x.parent().parent().prev().text(data.price+" DT");#}
                        {#}#}
                    {#})#}
                {#});#}
            {#}#}
            {#$(".confirmation-prescription").click(function(){#}
                {#x = $(this);#}
                {#$.ajax({#}
                    {#type:"GET",#}
                    {#url:Routing.generate('confirmation_priscription_medication_pharmacy', {id:$(this).parent().prev().val() }),#}
                    {#async: true,#}
                    {#success:function (data) {#}
                        {#if (data.status == "Prix vide !"){#}
                            {#x.prepend("<strong style='color: red'>"+status+"</strong>")#}
                        {#}#}
                        {#if (data.status == "Confirmé")#}
                        {#$('.update-price').remove();#}
                        {#$('.button-confirmation').remove();#}
                        {#$('.message-confirm').text(data.status);#}
                    {#}#}
                {#})#}
            {#});#}


        {#});#}
    {#</script>#}
{#{% endblock %}#}

{% extends '@App/layout.html.twig' %}
{% block title %}Confirmation ordonance{% endblock %}

{% block body %}
    <div class="col-lg-6 offset-5-lg">
        {% for prescriptionMedication in prescriptionMedication %}
            {% if loop.first %}
                <p class="text-right button-confirmation"><a href="{{ path('cancel_prescription',{ id:prescriptionMedication.prescription.id}) }}" style="margin-right:90px" class="btn btn-success btn-lg confirmation-prescription">Supprimer la  demande </a></p>
            {% endif %}
        {% endfor %}
        <h2 class="message-confirm"></h2>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>Médicament</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for prescriptionMedication in prescriptionMedication %}
                <tr>
                    <td>
                        {{ prescriptionMedication.medication.name }}  </td>
                    <td>
                        {{ prescriptionMedication.quantity }}
                    </td>
                    <td style="width: 400px">
                        <div class="current-price">
                            {% if  prescriptionMedication.price  is defined and  prescriptionMedication.price is not null %}
                                {{ prescriptionMedication.price }} DT
                            {% endif %}
                        </div>
                        {% if prescriptionMedication.prescription.status == "En attente" %}
                            <div class="update-price">
                                <h4 >modifier</h4>
                                <div class="form-group">
                                    <input type="text" class="form-control price" id="email" placeholder="Enter le prix" name="price">
                                    <input type="hidden" value="{{ prescriptionMedication.id }}" class="id">
                                    <input type="button" value="Envoyer" class="send-price btn-sm btn btn-info">
                                </div>
                            </div>
                        {% endif %}
                        {% if prescriptionMedication.prescription.status == "Annulée" %}
                            <div class="update-price">
                                <h4 >modifier</h4>
                                <div class="form-group">
                                    <input type="text" class="form-control price" id="email" placeholder="Enter le prix" name="price" style="width: 120px; height: 25px;">
                                    <input type="hidden" value="{{ prescriptionMedication.id }}" class="id">
                                    <input type="button" value="Envoyer" class="send-price btn-sm btn btn-info">
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for prescriptionMedication in prescriptionMedication %}
            {% if prescriptionMedication.prescription.status == "En attente" %}
                {% if loop.first %}
                    <input type="hidden" value="{{ prescriptionMedication.prescription.id }}" class="id-prescription">
                    <p class="text-right button-confirmation"><button type="button" style="margin-right:90px" class="btn btn-success btn-lg confirmation-prescription">Confirmé</button></p>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for prescriptionMedication in prescriptionMedication %}
            {% if prescriptionMedication.prescription.status == "Annulée" %}
                {% if loop.first %}
                    <input type="hidden" value="{{ prescriptionMedication.prescription.id }}" class="id-prescription">
                    <p class="text-right button-confirmation"><button type="button" style="margin-right:90px" class="btn btn-success btn-lg confirmation-prescription">Confirmé</button></p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endblock %}
    {% block js %}
        <script type="text/javascript">
            $(document).ready(function ()
            {
                for (var i=0;i<$('.price').length;i++) {
                    $(".send-price").eq(i).click(function(){
                        x = $(this);
                        $.ajax({
                            type:"GET",
                            url:Routing.generate('set_price_priscription_medication_pharmacy', {id:$(this).prev().val(),price:$(this).prev().prev().val() }),
                            async: true,
                            success:function (data) {
                                //console.log(x.parent())
                                x.parent().parent().prev().text(data.price+" DT");
                            }
                        })
                    });
                }
                $(".confirmation-prescription").click(function(){
                    x = $(this);
                    $.ajax({
                        type:"GET",
                        url:Routing.generate('confirmation_priscription_medication_pharmacy', {id:$(this).parent().prev().val() }),
                        async: true,
                        success:function (data) {
                            if (data.status == "Prix vide !"){
                                x.prepend("<strong style='color: red'>"+status+"</strong>")
                            }
                            if (data.status == "Confirmé")
                                $('.update-price').remove();
                            $('.button-confirmation').remove();
                            $('.message-confirm').text(data.status);
                        }
                    })
                });
            });
        </script>
    </div>
{% endblock %}
