{% extends '@App/layout.html.twig' %}
{% block title %}AJOUT ORDONONCE{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Réference</th>
            <th>Date d'ajout</th>
            <th>Status</th>
            <th>Médecin</th>
            <th>Détaille</th>
        </tr>
        </thead>
        <tbody>
        {% for prescription in prescription %}
            <tr>
                <td>{{ prescription.reference }}</td>
                <td>
                    {{ prescription.dateAdd|date('Y-m-d H:i:s') }}
                </td>
                <td>
                    {{ prescription.status }}
                </td>
                <td>
                    {{ prescription.doctor.user.name }} {{ prescription.doctor.user.firstName }}
                </td>
                <td>
                    <a href="{{ path('my_list_prescription_medicacation',{ id:prescription.id}) }}">Détaillé</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}